## Concat

In [19]:
# concat
df_head = df.head()
df_tail = df.tail()

In [20]:
# concat (append row)
pd.concat([df_head, df_tail], axis=0)

     sepal_width  sepal_height  petal_width  petal_height           class
0            5.1           3.5          1.4           0.2     Iris-setosa
1            4.9           3.0          1.4           0.2     Iris-setosa
2            4.7           3.2          1.3           0.2     Iris-setosa
3            4.6           3.1          1.5           0.2     Iris-setosa
4            5.0           3.6          1.4           0.2     Iris-setosa
145          6.7           3.0          5.2           2.3  Iris-virginica
146          6.3           2.5          5.0           1.9  Iris-virginica
147          6.5           3.0          5.2           2.0  Iris-virginica
148          6.2           3.4          5.4           2.3  Iris-virginica
149          5.9           3.0          5.1           1.8  Iris-virginica

In [21]:
# concat (append column)
pd.concat([df_head, df_tail], axis=1)

,sepal_width,sepal_height,petal_width,petal_height,class,sepal_width,sepal_height,petal_width,petal_height,class
0,5.1,3.5,1.4,0.2,Iris-setosa,NaN,NaN,NaN,NaN,NaN
1,4.9,3.0,1.4,0.2,Iris-setosa,NaN,NaN,NaN,NaN,NaN
2,4.7,3.2,1.3,0.2,Iris-setosa,NaN,NaN,NaN,NaN,NaN
3,4.6,3.1,1.5,0.2,Iris-setosa,NaN,NaN,NaN,NaN,NaN
4,5.0,3.6,1.4,0.2,Iris-setosa,NaN,NaN,NaN,NaN,NaN
145,NaN,NaN,NaN,NaN,NaN,6.7,3.0,5.2,2.3,Iris-virginica
146,NaN,NaN,NaN,NaN,NaN,6.3,2.5,5.0,1.9,Iris-virginica
147,NaN,NaN,NaN,NaN,NaN,6.5,3.0,5.2,2.0,Iris-virginica
148,NaN,NaN,NaN,NaN,NaN,6.2,3.4,5.4,2.3,Iris-virginica
149,NaN,NaN,NaN,NaN,NaN,5.9,3.0,5.1,1.8,Iris-virginica

In [22]:
# should reset index before appending columns
pd.concat([df_head.reset_index(drop=True), df_tail.reset_index(drop=True)], axis=1)

,sepal_width,sepal_height,petal_width,petal_height,class,sepal_width,sepal_height,petal_width,petal_height,class
0,5.1,3.5,1.4,0.2,Iris-setosa,6.7,3.0,5.2,2.3,Iris-virginica
1,4.9,3.0,1.4,0.2,Iris-setosa,6.3,2.5,5.0,1.9,Iris-virginica
2,4.7,3.2,1.3,0.2,Iris-setosa,6.5,3.0,5.2,2.0,Iris-virginica
3,4.6,3.1,1.5,0.2,Iris-setosa,6.2,3.4,5.4,2.3,Iris-virginica
4,5.0,3.6,1.4,0.2,Iris-setosa,5.9,3.0,5.1,1.8,Iris-virginica